---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Aviso legal - Psicóloga - Cristina Nuñez Parra">
  <div class="p-4">
    <h1>
      <span id="Aviso_Legal"></span>Aviso Legal<span></span>
    </h1><p>Aviso Legal para este sitio web</p><p>
      <strong>1.- Introducción.</strong>
    </p><p>
      El presente documento tiene como finalidad el establecer y regular las
      normas de uso de este sitio web que usted está visitando (en adelante el
      «Sitio»), entendiendo por Sitio todas las páginas y sus contenidos
      propiedad de XXX.
    </p><p>
      La utilización del Sitio atribuye la condición de Usuario del mismo e
      implica la aceptación de todas las condiciones incluidas en el presente
      Aviso Legal. El Usuario se compromete a leer atentamente el presente Aviso
      Legal en cada una de las ocasiones en que se proponga utilizar el Sitio,
      ya que éste y sus condiciones de uso recogidas en el presente Aviso Legal
      pueden sufrir modificaciones.
    </p><p>
      Todos los avisos pueden ser revisados en cualquier momento por el usuario
      a través de nuestra página web.
    </p><p><strong>2.- Titularidad del Sitio Web.</strong></p><p>
      Razón social: XXX
    </p><p>E-mail: XXX</p><p>Domicilio: XXX</p><p>C.I.F: XXX</p><p>
      Datos Registrales: Registrada en el registro de Asociaciones de Andalucía
      con el número XXX
    </p><p><strong>3.- Propiedad intelectual e industrial.</strong></p><p>
      Los derechos de propiedad intelectual de este sitio, son titularidad de
      XXX, o de terceros de los que dispone autorización cuando sea necesaria.
    </p><p>
      La reproducción, distribución, comercialización o transformación, total o
      parcial, no autorizadas del contenido del Sitio, constituye una infracción
      de los derechos de propiedad intelectual de XXX Igualmente, todas las
      marcas o signos distintivos de cualquier clase contenidos en el Sitio
      están protegidos por Ley.
    </p><p>
      La utilización no autorizada de la información contenida en este Sitio,
      así como los perjuicios ocasionados en los derechos de propiedad
      intelectual e industrial de XXX pueden dar lugar al ejercicio de las
      acciones que legalmente correspondan y, si procede, a las
      responsabilidades que de dicho ejercicio se deriven.
    </p><p>
      En el caso de que los productos de nuestra tienda online fueran
      susceptibles de protección por Propiedad Intelectual, XXX garantiza estar
      autorizado para gestionar la adquisición y el cobro del producto al
      consumidor.
    </p><p>&nbsp;</p><p><strong>4.- Exclusión de responsabilidad.</strong></p><p
    >
      XXX declina cualquier responsabilidad por los eventuales daños y
      perjuicios que puedan ocasionarse por la falta de disponibilidad y/o
      continuidad de este Sitio y de los servicios que se ofrecen en él.
    </p><p>
      XXX no garantiza la ausencia de virus ni de otros elementos en la web que
      puedan producir alteraciones en su sistema informático.
    </p><p>
      XXX declina cualquier responsabilidad por los servicios y/o información
      que se preste en otros Sitios enlazados con este. XXX no controla ni
      ejerce ningún tipo de supervisión en Sitios Webs de terceros. Aconsejamos
      a los Usuarios de los mismos a actuar con prudencia y consultar las
      eventuales condiciones legales que se expongan en dichas webs.
    </p><p>
      Los Usuarios que remitan cualquier tipo de información a XXX, se
      comprometen a que la misma sea veraz y que no vulnere cualquier derecho de
      terceros ni la legalidad vigente.
    </p><p>&nbsp;</p><p>
      <strong>5.- Condiciones de uso del portal para los usuarios.</strong>
    </p><p>
      El acceso al presente Sitio es gratuito salvo en lo relativo al coste de
      la conexión a través de la red de telecomunicaciones suministrada por el
      proveedor de acceso contratado por los usuarios.
    </p><p>
      Queda expresamente prohibido el uso del Sitio con fines lesivos de bienes
      o intereses de XXX, o de terceros o que de cualquier otra forma
      sobrecarguen, dañen o inutilicen las redes, servidores y demás equipos
      informáticos (hardware) o productos y aplicaciones informáticas (software)
      de XXX o de terceros.
    </p><p>
      En el caso de que el Usuario tuviera conocimiento de que los Sitios
      enlazados remiten a páginas cuyos contenidos o servicios son ilícitos,
      nocivos, denigrantes, violentos o contrarios a la moral le agradeceríamos
      que se pusiera en contacto con XXX
    </p><p>&nbsp;</p><p>
      <strong>6.- Política de protección de datos personales.</strong>
    </p><p>
      Puede consultar nuestra Política de protección de datos personales en el
      apartado Política de Privacidad de esta web.
    </p><p>&nbsp;</p><p><strong>7.- Cookies.</strong></p><p>
      Las cookies sirven para mejorar el funcionamiento de la web. El Art. 4 del
      Real Decreto-Ley 13/2012, de 30 de Marzo, modifica la Ley 34/2002, de 11
      de julio, de servicios de la sociedad de la información y de comercio
      electrónico, estableciendo como requisito la obtención del consentimiento
      informado antes de que se almacene o se acceda a la información del
      terminal del usuario en ciertos supuestos.
    </p><p>
      Si usamos otro tipo de cookies que no sean las necesarias, podrá consultar
      la política de cookies en el enlace correspondiente desde el inicio de la
      web.
    </p><p>&nbsp;</p><p><strong>8.- Legislación.</strong></p><p>
      XXX le informa que el presente Aviso legal se rige en todos y cada uno de
      sus extremos por la legislación española. El presente contrato está
      establecido en idioma español.
    </p><p>&nbsp;</p><p><strong>9.- Contacte con nosotros.</strong></p><p>
      Si tiene Ud. cualquier pregunta sobre las condiciones reflejadas en este
      Aviso Legal, o si le gustaría hacer cualquier sugerencia o recomendación,
      por favor diríjase a nosotros.
    </p><p>&nbsp;</p>
  </div>
</Layout>
