---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Aviso legal">
  <div class="max-w-5xl mx-auto p-6 pt-12">
    <h1 class="text-2xl font-bold mb-4">Aviso Legal</h1>
    <p class="mb-4">
      CRISTINA NÚÑEZ PARRA, en cumplimiento del artículo 10 de la Ley 34/2002 de
      Servicios de la Sociedad de la Información y Comercio Electrónico,
      informa:
    </p>
    <ul class="list-disc list-inside mb-4">
      <li>
        Que es titular del dominio y del sitio web <a
          href="http://www.XXXXXXXXX.xxxxx"
          class="text-blue-500 hover:underline">www.XXXXXXXXX.xxxxx</a
        >
      </li>
      <li>Que sus datos identificativos son:</li>
    </ul>
    <address class="mb-4">
      <p><strong>CRISTINA NÚÑEZ PARRA</strong></p>
      <p>CL. ALFREDO KRAUS, 3 PORTAL 2-2ºA</p>
      <p>VELEZ MALAGA (MALAGA)</p>
      <p>D.N.I. núm. 53742932M</p>
    </address>
    <p class="mb-4">
      Profesional titulado en Psicología y con Máster en Psicología General
      Sanitaria (puede consultarse a través del registro estatal de
      profesionales sanitarios) por la Universidad de Málaga cuyo ejercicio está
      regulado legalmente, y se encuentra colegiado en el Ilustre Colegio
      Oficial de Psicología de Andalucía Oriental con el número AO-10191.
    </p>
    <p class="mb-4">
      La utilización del sitio web otorga la condición de usuario e implica la
      plena aceptación a todas las disposiciones contenidas en este Aviso Legal
      y en la Política de Privacidad. Si el usuario no está de acuerdo con las
      condiciones aquí establecidas, debería desestimar el acceso y la
      utilización del sitio web.
    </p>
    <p class="mb-4">
      El contenido del sitio web es propiedad de CRISTINA NÚÑEZ PARRA, y se
      prohíbe cualquier tipo de copia o reproducción de todo o parte del
      contenido sin autorización expresa de su propietario.
    </p>
    <p class="mb-4">
      El usuario del sitio web se compromete a hacer un uso adecuado del mismo,
      a no emplearlo para prácticas contrarias a la ley o la buena fe y a no
      provocar daños en los sistemas físicos y lógicos de CRISTINA NÚÑEZ PARRA.
    </p>
    <p class="mb-4">
      CRISTINA NÚÑEZ PARRA no asume ninguna responsabilidad sobre los enlaces
      externos de terceros que pudieran incorporarse en el sitio web, al no
      tener ningún tipo de control sobre ellos, sobre sus contenidos, los
      servicios que presten o la forma en que éstos aparezcan.
    </p>
  </div>
</Layout>
