---
import Layout from "../layouts/Layout.astro";
import Mail2 from "../icons/mail2.astro";
import Form from "../icons/form.astro";
import Whatsapp2 from "../icons/whatsapp2.astro";
import ContactWithMe from "../icons/contactWithMe.astro";
import PhoneCall from "../icons/phoneCall.astro";
import SendDocuments from "../icons/sendDocuments.astro";
import ReceiveDocuments from "../icons/receiveDocuments.astro";

import { comoEmpezar } from "../data.json";
const { title, steps } = comoEmpezar;

interface IconsType {
  [key: string]: any;
}

const icons: IconsType = {
  ContactWithMe,
  PhoneCall,
  SendDocuments,
  ReceiveDocuments,
};
---

<Layout title="¿Como puedo empezar?">
  <h2 class="text-6xl text-center md:p-12 pt-12 font-dancing text-blueMedium">
    {title}
  </h2>
  <div class="md:w-4/5 w-full m-auto p-6">
    {
      steps.map((step, index) => {
        const IconComponent = icons[step.image];

        return (
          <div class="flex mb-6 flex-col md:flex-row items-center">
            <div class="flex justify-center p-12 flex-shrink-0 text-center">
              <IconComponent />
              {/* <img src={step.image} alt="" width="222" height="170" /> */}
            </div>
            <div class="flex flex-col items-center text-center md:items-start md:text-left">
              <span class="w-14 h-14 bg-brownLight text-brownMedium rounded-full flex justify-center text-5xl">
                {index + 1}
              </span>
              <h2 class="text-blueMedium text-2xl my-2">{step.title}</h2>

              {step.text ? (
                <p>{step.text}</p>
              ) : (
                <ul class="max-w-md space-y-1 list-disc list-inside">
                  <li class="flex">
                    <Whatsapp2 width="20" />
                    <a
                      href="https://wa.me/680260412"
                      class="ml-2 font-bold hover:text-blueMedium"
                      target="_blank"
                      rel="noopener noreferrer"
                    >
                      Whatsapp
                    </a>
                  </li>
                  <li class="flex">
                    <Mail2 width="20" />
                    <a
                      href="mailto:nparracristina@gmail.com"
                      class="ml-2 font-bold hover:text-blueMedium"
                    >
                      Email
                    </a>
                  </li>
                  <li class="flex">
                    <Form width="20" />
                    <a
                      href="/contacto"
                      class="ml-2 font-bold hover:text-blueMedium"
                    >
                      Formulario
                    </a>
                  </li>
                </ul>
              )}
            </div>
          </div>
        );
      })
    }
    <div class="mt-28">
      Es normal que en la primera sesión aparezcan muchas dudas e inquietud,
      ponerle palabras a lo que nos pasa a veces es muy difícil.
    </div>
  </div>
</Layout>
