---
import Layout from "../layouts/Layout.astro";
import PhoneIcon from "../icons/phone.astro";
import Mail from "../icons/mail.astro";

import { colors } from "../util";
const { secondary } = colors;
---

<Layout title="Contacto - Cristina Nuñez Parra">
  <div class="m-6">
    <div class="imageWrapper">
      <img src="/img/portada.png" alt="" />
    </div>
    <div>
      <h3 class="font-bold mt-5">
        Soy Cristina Nuñez, Psicóloga General Sanitaria y Terapeuta Familiar y
        de pareja y quiero darte la bienvenida a este refugio que he creado con
        todo mi cariño.
      </h3>
      <p class="my-4">
        Estás a solo un paso de comenzar un viaje transformador hacia el
        bienestar emocional, tanto para ti como para tus seres queridos, o
        incluso para tu desarrollo profesional como psicólogo. Aquí encontrarás
        todas las formas en las que puedes comunicarte conmigo para iniciar este
        importante camino. Estamos deseando escucharte y ser parte de tu camino
        hacia un bienestar emocional y psicológico más completo. No lo pospongas
        más, tu salud emocional es lo más valioso que tienes.
      </p>
    </div>
    <div>
      <ul class="mt-6 [&>*]:my-3">
        <li>
          <a href="mailto:nparracristina@gmail.com" class="font-bold flex">
            <span class="mr-2"> <Mail /> </span>
            <span> nparracristina@gmail.com</span>
          </a>
        </li>
        <li>
          <a href="tel:+34627112391" class="font-bold flex">
            <span class="mr-2"> <PhoneIcon /> </span>
            <span> +34 627 11 23 91 </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</Layout>

<style define:vars={{ secondary }}>
  .imageWrapper {
    border: 15px solid var(--secondary);
  }
</style>
