---
import Layout from "../layouts/Layout.astro";
import ContactForm from "../components/ContactForm.astro";

import Phone from "../icons/phone2.astro";
import Mail from "../icons/mail2.astro";
import Whatsapp from "../icons/whatsapp2.astro";
---

<Layout title="Contacto">
  <div>
    <h2 class="text-6xl text-center p-12">Contacto</h2>
    <div
      class="flex justify-center flex-col md:flex-row md:justify-around text-center [&>div]:flex [&>div]:flex-col [&>div>a]:mx-auto [&>div>a]:mb-4 gap-12 p-6"
    >
      <div>
        <a
          href="https://wa.me/680260412"
          class="font-bold flex"
          target="_blank"
          rel="noopener noreferrer"
        >
          <Whatsapp width="70" />
        </a>
        <span>Envíame un mensaje</span>
      </div>
      <div>
        <a href="tel:+34680260412" class="font-bold flex">
          <Phone width="70" />
        </a>
        <span>Llámame</span>
      </div>
      <div>
        <a href="mailto:nparracristina@gmail.com" class="font-bold flex">
          <Mail width="70" />
        </a>
        <span>Envíame un correo</span>
      </div>
    </div>
    <div class="px-6 bg-brownLight">
      <ContactForm />
    </div>
  </div>
</Layout>

<style>
  h2 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
  }
</style>
