---
import Layout from "../layouts/Layout.astro";
import PhoneIcon from "../icons/phone.astro";
import Mail from "../icons/mail.astro";
import ContactForm from "../components/ContactForm.astro";

import { colors } from "../util";
const { secondary } = colors;
---

<Layout title="Contacto - Psicóloga - Cristina Nuñez Parra">
  <div>
    <div class="flex flex-col md:flex-row p-5">
      <div class="imageWrapper w-full md:w-1/2">
        <img src="/img/portada.png" alt="" class="w-full h-auto" />
      </div>
      <div class="w-full md:w-1/2 md:mx-12 flex flex-col justify-center">
        <h3 class="font-bold mt-5">
          Soy Cristina Nuñez, Psicóloga General Sanitaria y Terapeuta Familiar y
          de pareja y quiero darte la bienvenida a este refugio que he creado
          con todo mi cariño.
        </h3>
        <p class="my-4">
          Estás a solo un paso de comenzar un viaje transformador hacia el
          bienestar emocional, tanto para ti como para tus seres queridos, o
          incluso para tu desarrollo profesional como psicólogo. Aquí
          encontrarás todas las formas en las que puedes comunicarte conmigo
          para iniciar este importante camino. Estamos deseando escucharte y ser
          parte de tu camino hacia un bienestar emocional y psicológico más
          completo. No lo pospongas más, tu salud emocional es lo más valioso
          que tienes.
        </p>
        <div class="mb-5 w-full">
          <ul class="mt-6 [&>*]:my-3">
            <li>
              <a href="mailto:nparracristina@gmail.com" class="font-bold flex">
                <span class="mr-2"> <Mail /> </span>
                <span> nparracristina@gmail.com</span>
              </a>
            </li>
            <li>
              <a href="tel:+34680260412" class="font-bold flex">
                <span class="mr-2"> <PhoneIcon /> </span>
                <span> +34 680 26 04 12 </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="wrapperContactForm mt-5 px-6">
      <ContactForm />
    </div>
  </div>
</Layout>

<style define:vars={{ secondary }}>
  .imageWrapper {
    border: 15px solid var(--secondary);
  }

  .wrapperContactForm {
    background-color: var(--secondary);
  }
</style>
