---
import Principal from "../sections/Principal.astro";
import Layout from "../layouts/Layout.astro";
import WhoIAm from "../sections/WhoIAm.astro";
---

<Layout title="Psicóloga - Cristina Nuñez Parra">
  <Principal />
  <div class="text-center w-100 md:w-1/2 m-auto">
    <WhoIAm />
  </div>
</Layout>

<style>
  p {
    margin-bottom: 15px;
  }
</style>
