---
import Principal from "../sections/Principal.astro";
import Layout from "../layouts/Layout.astro";
import WhoIAm from "../sections/WhoIAm.astro";
---

<Layout title="Psicóloga - Cristina Nuñez Parra">
  <main class="flex-grow">
    <Principal />
    <WhoIAm />
  </main>
</Layout>

<style>
  p {
    margin-bottom: 15px;
  }
</style>
