---
import Principal from "../sections/Principal.astro";
import Layout from "../layouts/Layout.astro";
import WhoIAm from "../sections/WhoIAm.astro";
---

<Layout title="Psicóloga - Cristina Nuñez Parra">
  <Principal />
  <div class="text-center w-100 md:w-1/2 m-auto">
    <WhoIAm />
  </div>
  <div class="px-6 py-20 md:p-24 text-center text-3xl bg-brownLight">
    <p>
      Un espacio seguro donde acompañarte desde la honestidad, sentido de la
      responsabilidad y profesionalidad.
    </p>
    <br />
    <p>
      Nuestra historia de vida es lo mas valioso que tenemos, por ello intento
      tratarla desde el máximo respeto y confidencialidad.
    </p>
    <a
      href="/modelo-terapeutico"
      class="bg-white hover:text-rose-300 text-xl py-2 px-4 mt-10 block text-center lg:inline-block border-b-4 border-brownDark"
      >Conoce más sobre mi</a
    >
  </div>
</Layout>
