---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Política de privacidad - Psicologia - Cristina Nuñez Parra">
  <div class="p-4">
    <h1>Política de Privacidad</h1><div>
      <h3>Política de Privacidad</h3><div>
        <div>
          <div>
            <p>
              En XXX nos comprometemos a asegurar que su información personal se
              encuentre protegida y no se utilice de forma indebida. Al
              facilitarnos su información personal y utilizar nuestro sitio web,
              entendemos que ha leído y comprendido los términos relacionados
              con la información de protección de datos de carácter personal que
              se expone a continuación.
            </p><p>
              ¿Quién es el responsable del tratamiento de sus datos?<br /> Razón
              social: XXX
            </p><p>E-mail: XXX</p><p>
              Domicilio: Boulevard Louis Pasteur 5. Planta 2, Oficina 321,
              29010, Málaga
            </p><p>C.I.F: G44971273</p><p>
              Datos Registrales: Registrada en el registro de Asociaciones de
              Andalucía con el número 29-1-14895<br /> Puede dirigirse de cualquier
              forma para comunicarse con nosotros.
            </p><p>
              ¿Qué información tratamos?<br /> El tipo de información que recopilamos
              dependerá de las circunstancias y de los servicios que utilice. En
              términos generales, obtendremos información sobre usted de la siguiente
              manera:<br /> • Datos identificativos y de contacto: Obtenemos sus
              datos identificativos y de contacto cuando se registra en nuestra web,
              cuando contrata nuestros servicios o productos, cuando nos solicita
              información a través de su correo electrónico, cuando se suscribe a
              nuestros boletines informativos, cuando nos envía una consulta o cuando
              solicite colaborar con nosotros.<br /> • Información sobre el uso de
              nuestro sitio web: Obtenemos información sobre cómo usa nuestra web,
              lo que incluye información sobre las páginas de nuestra web que visita,
              los servicios o la información que busca y los enlaces y contenidos
              a los que accede. Podríamos utilizar la información que nos proporciona
              a través de su uso del sitio web para ofrecerle contenidos que sean
              de su interés y para contribuir a determinar nuestra estrategia de
              marketing. Este tipo de actividad, conocida como “perfilado” o “profiling”,
              consiste en la utilización de medios automatizados para analizar sus
              datos personales y predecir sus preferencias, intereses y hábitos.
              Puede oponerse al perfilado en cualquier momento. Consulte nuestra
              Política de Cookies para obtener más información sobre las cookies
              que utilizamos.<br /> • Datos técnicos: Obtenemos información sobre
              los dispositivos que utiliza para acceder al sitio web, lo cual incluye
              el código único ID de su teléfono móvil o la dirección IP desde la
              que accede al sitio web que identifica de forma única el dispositivo
              específico desde el que accede a internet. Recibimos y tratamos esta
              información por medio de una cookie ID. Puede encontrar más información
              sobre las cookies que utilizamos sobre las finalidades para las que
              las utilizamos en nuestra Política de Cookies.
            </p><p>
              ¿Con qué finalidad recabamos su información personal?<br /> A continuación
              incluimos las principales finalidades que hemos identificado:<br
              /> – Gestión de la contratación de los servicios ofrecidos por XXX,<br
              /> – Cumplimiento de obligaciones legales.<br /> – Canalizar las solicitudes
              de información, sugerencias y reclamaciones para su gestión y resolución.<br
              /> – Mantenerle informado, sobre nuestros servicios, si usted nos presta
              su consentimiento.
            </p><p>
              ¿Cuál es la legitimación para el tratamiento de sus datos?<br />
              Para el tratamiento de sus datos personales nos basamos en la legitimación
              por varios motivos:<br /> – Para el cumplimiento de un contrato y/o
              relación comercial.<br /> – Para el cumplimiento de distintas obligaciones
              legales.<br /> – En interés legítimo del responsable del tratamiento.<br
              /> – Con su consentimiento para el envío de información sobre nuestros
              productos, ofertas, promociones, etc.
            </p><p>
              ¿A qué destinatarios se comunicarán sus datos?<br /> Sus datos no se
              cederán a terceros, salvo obligación legal.<br /> En concreto se comunicarán
              a la Agencia Estatal de la Administración Tributaria y a bancos y entidades
              financieras para el cobro del servicio prestado o producto adquirido,
              así como a los encargados del tratamiento necesarios para la ejecución
              del acuerdo.<br /> En caso de compra o pago, si elige alguna aplicación
              web, plataforma, tarjeta bancaria, o algún otro servicio online, sus
              datos se cederán a esa plataforma o se tratarán en su entorno, siempre
              con la máxima seguridad.¿Tratamos datos de menores de edad?<br /> No
              tratamos datos de menores de 14 años, por tanto, absténgase de facilitarlos
              si no tiene esa edad.
            </p><p>
              ¿Qué medidas de seguridad aplicamos?Puede estar tranquilo, hemos
              adoptado un nivel óptimo de protección de los Datos Personales que
              manejamos, y hemos instalado todos los medios y medidas técnicas a
              nuestra disposición según el estado de la tecnología para evitar
              la pérdida, mal uso, alteración, acceso no autorizado y robo de
              los Datos Personales.
            </p><p>
              ¿Cuáles son sus derechos en relación con el tratamiento de datos?
            </p><p>&nbsp;</p><p>
              El ejercicio de estos derechos puede ser solicitado al email XXX o
              contactando en la dirección postal que aparece en el apartado
              “Responsable”.<br /> Tiene derecho a presentar una reclamación ante
              la Agencia Española de Protección de Datos en el supuesto que considere
              que no se ha atendido convenientemente el ejercicio de sus derechos.
              En el caso de producirse alguna modificación de sus datos, le agradecemos
              nos lo comunique debidamente por escrito con la finalidad de mantener
              sus datos actualizados.
            </p><p>
              ¿Durante cuánto tiempo vamos a mantener sus datos personales?<br
              /> Los datos personales serán mantenidos mientras siga vinculado con
              nosotros.<br /> Una vez se desvincule, los datos personales tratados
              en cada finalidad se mantendrán durante los plazos legalmente previstos,
              incluido el plazo en el que un juez o tribunal los pueda requerir atendiendo
              al plazo de prescripción de acciones judiciales.<br /> Mantendremos
              toda la información y comunicaciones relativas a su compra o a la prestación
              de nuestro servicio, mientras duren las garantías de los productos
              o servicios, para atender posibles reclamaciones.
            </p><p>&nbsp;</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
