---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Política de cookies">
  <div class="p-4">
    <h1>Política de Cookies</h1><div>
      <h2>Política de Cookies</h2><p>
        POLÍTICA DE COOKIES Y ALMACENAMIENTO LOCAL
      </p><p>
        Responsable del tratamiento: XXX &nbsp; con CIF &nbsp;XXX<br /> Dirección
        postal: Boulevard Louis Pasteur 5. Planta 2, Oficina 321, 29010, Málaga<br
        /> Correo electrónico: XXX
      </p><p>La legitimación para el uso de las cookies es la siguiente:</p><p>
        – Cookies técnicas, que permiten el funcionamiento y la prestación de
        los servicios ofrecidos en la web: habilitación legal conforme al Art.
        22 de la ley 34/2002 (LSSI).
      </p><p>
        – Cualquier otro tipo de cookies: consentimiento del interesado (Art.
        6.1. a) del Reglamento (UE) 2016/679).
      </p><p>
        En la presente política de cookies, encontrará la descripción y
        finalidad de cada una de las cookies utilizadas, así como su nombre, el
        servidor de envío, su caducidad y en algunos casos la existencia de
        transferencia internacional de datos.
      </p><p><u>Política de cookies:</u></p><p>
        Según la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la
        Información y Comercio Electrónico le informamos de que este sitio web
        usa Cookies para mejorar y optimizar la experiencia del usuario. A
        continuación encontrará información detallada sobre qué son las
        “Cookies”, qué tipología utiliza este sitio web, cómo cambiar la
        configuración de sus cookies, y qué ocurre si las deshabilitas.
      </p><p>¿Qué son las&nbsp;cookies?</p><p>
        Una cookie es un fichero que se descarga en su ordenador al acceder a
        determinadas páginas web. Las cookies permiten a una página web, entre
        otras cosas, almacenar y recuperar información sobre los hábitos de
        navegación de un usuario o de su equipo y, dependiendo de la información
        que contengan y de la forma en que utilice su equipo, pueden utilizarse
        para reconocer al usuario.
      </p><p>¿Qué tipos de&nbsp;cookies utiliza esta página web?</p><ul>
        <li>
          Cookies de análisis:Son aquéllas que bien tratadas por nosotros o por
          terceros, nos permiten cuantificar el número de usuarios y así
          realizar la medición y análisis estadístico de la utilización que
          hacen los usuarios del servicio ofertado. Para ello se analiza su
          navegación en nuestra página web con el fin de mejorar la oferta de
          productos o servicios que le ofrecemos.
        </li><li>
          Cookies publicitarias:Son aquéllas que, bien tratadas por nosotros o
          por terceros, nos permiten gestionar de la forma más eficaz posible la
          oferta de los espacios publicitarios que hay en la página web,
          adecuando el contenido del anuncio al contenido del servicio
          solicitado o al uso que realice de nuestra página web. Para ello
          podemos analizar sus hábitos de navegación en Internet y podemos
          mostrarle publicidad relacionada con su perfil de navegación.
        </li><li>Cookies de Terceros:&nbsp;Proporcionadas por terceros.</li>
      </ul>
      <p>¿Qué ocurre si se deshabilitan las Cookies?</p><p>
        Algunas funcionalidades de los Servicios y áreas de este sitio web
        podrían no funcionar correctamente si se deshabilitan las cookies.
      </p><p>¿Actualizamos nuestra Política de Cookies?</p><p>
        Es posible que actualicemos la Política de Cookies de nuestro página
        web, por ello le recomendamos revisar esta política cada vez que acceda
        a nuestro sitio web con el objetivo de estar adecuadamente informado
        sobre cómo y para qué usamos las cookies.
      </p><p>¿Cómo puede configurar sus Cookies?</p><p>
        Al navegar y continuar en nuestro sitio web estará consintiendo el uso
        de las Cookies en las condiciones contenidas en la presente Política de
        Cookies. Usted como usuario tiene la posibilidad de ejercer su derecho a
        bloquear, eliminar y rechazar el uso de Cookies, en todo momento,
        modificando las opciones de su navegador.&nbsp;Por ejemplo:
      </p><p>
        Microsoft Edge: Configuración&gt; Configuración Avanzada&gt; Cookies.
      </p><p>
        Consulta el&nbsp;<a
          href="http://windows.microsoft.com/es-ES/windows/support"
          target="_blank"
          rel="noopener">soporte de Microsoft</a
        ><u>&nbsp;</u>o la Ayuda del navegador.
      </p><p>
        Mozilla Firefox: Herramientas&gt; Opciones&gt; Privacidad&gt;
        Historial&gt; Configuración Personalizada.
      </p><p>
        Consulta el&nbsp;<a
          href="http://support.mozilla.org/es/home"
          target="_blank"
          rel="noopener">soporte de Mozilla</a
        ><u>&nbsp;</u>o la Ayuda del navegador.
      </p><p>
        Google Chrome: Configuración&gt; Mostrar opciones avanzadas &gt;
        Privacidad&gt; Configuración de contenido.
      </p><p>
        Consulta el&nbsp;<a
          href="http://support.google.com/chrome/?hl=es"
          target="_blank"
          rel="noopener">soporte de Google</a
        ><u>&nbsp;</u>o la Ayuda del navegador.
      </p><p>Safari (Apple): Preferencias&gt; Seguridad.</p><p>
        Consulta el&nbsp;<a
          href="http://www.apple.com/es/support/safari/"
          target="_blank"
          rel="noopener">soporte de Apple</a
        ><u>&nbsp;</u>o la Ayuda del navegador.
      </p><p>
        Opera (Opera Software):&nbsp;Configuración &gt; Opciones &gt; Avanzado
        &gt; Cookies
      </p><p>
        Consulta el&nbsp;<a
          href="http://help.opera.com/Windows/11.50/es-ES/cookies/"
          target="_blank"
          rel="noopener">soporte de Opera</a
        ><u>&nbsp;</u>o la Ayuda del navegador.
      </p><p>
        Si usa otro navegador, consulte su política de instalación, uso y
        bloqueo de cookies. No obstante, usando la herramienta&nbsp;<a
          href="http://www.youronlinechoices.com/"
          target="_blank"
          rel="noopener">www.youronlinechoices.com</a
        >, podrá encontrar información útil y configurar, proveedor por
        proveedor, sus preferencias sobre las cookies.
      </p><p>
        Esta página web usa cookies. Las cookies de este sitio web se usan para
        personalizar el contenido y los anuncios, ofrecer funciones de redes
        sociales y analizar el tráfico. Además, compartimos información sobre el
        uso que haga del sitio web con nuestros partners de redes sociales,
        publicidad y análisis web, quienes pueden combinarla con otra
        información que les haya proporcionado o que hayan recopilado a partir
        del uso que haya hecho de sus servicios.
      </p><p>
        Las cookies son pequeños archivos de texto que las páginas web pueden
        utilizar para hacer más eficiente la experiencia del usuario.
      </p><p>
        La ley afirma que podemos almacenar cookies en su dispositivo si son
        estrictamente necesarias para el funcionamiento de esta página. Para
        todos los demás tipos de cookies necesitamos su permiso.
      </p><p>
        Esta página utiliza tipos diferentes de cookies. Algunas cookies son
        colocadas por servicios de terceros que aparecen en nuestras páginas.
      </p><p>
        En cualquier momento puede cambiar o retirar su consentimiento desde la
        Declaración de cookies en nuestro sitio web.
      </p><p>
        Obtenga más información sobre quiénes somos, cómo puede contactarnos y
        cómo procesamos los datos personales en nuestra Política de privacidad
      </p><p>&nbsp;</p>
    </div>
  </div>
</Layout>
