---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Política de privacidad">
  <div class="max-w-5xl mx-auto p-6 pt-12">
    <h1 class="text-2xl font-bold mb-4">Política de Privacidad</h1>
    <p class="mb-4">
      En esta Política de Privacidad encontrarás toda la información relativa al
      uso que hacemos de los datos personales que utilices para interactuar con
      nosotros como usuario. Dispones de forma permanente de esta Política de
      Privacidad que puedes consultar cuando lo estimes oportuno. Cualquier duda
      que te surja en la lectura de esta información no dudes en preguntarnos al
      email <a
        href="mailto:nparracristina@gmail.com"
        class="text-blue-500 hover:underline">nparracristina@gmail.com</a
      >.
    </p>

    <h2 class="text-xl font-semibold mb-2">¿Quiénes somos?</h2>
    <p class="mb-4">
      Somos CRISTINA NÚÑEZ PARRA con C.I.F 53742932M y domicilio en VELEZ MALAGA
      (MALAGA), CL. ALFREDO KRAUS, 3, España, titular de la web
      XXXXXXXXXXXXXXXXXX y responsable del tratamiento de tus datos personales,
      de sus usos y de su protección.
    </p>

    <p class="mb-4">
      El uso de los servicios del Sitio Web supone tu aceptación como Cliente,
      sin reservas de ninguna clase, de todas las manifestaciones contenidas en
      esta Política de Privacidad y en las Condiciones Generales.
    </p>

    <p class="mb-4">
      Tu registro en la web y el uso de sus servicios conlleva que los datos
      personales que hayas facilitado en el formulario de alta como Cliente
      pasarán a formar parte de ficheros para su tratamiento con la finalidad,
      legitimación, cesiones y periodos de conservación que se detalla a
      continuación, y que declaras conocer y aceptar al pulsar el botón de
      acción del formulario.
    </p>

    <h2 class="text-xl font-semibold mb-2">Limitaciones</h2>
    <p class="mb-4">
      El contenido promocional de la web está dirigida a todos los usuarios,
      pero si vas a registrarte como cliente debes ser mayor de edad.
    </p>
  </div>
</Layout>
