---
import Square from "../icons/square.astro";
import Layout from "../layouts/Layout.astro";

import { supervisiones } from "../data.json";
---

<Layout title="Supervisiones">
  <div class="flex flex-col items-center md:flex-row p-5 md:w-3/4 m-auto">
    <div class="h-full md:w-1/2">
      <img src="/img/supervision.jpg" alt="" class="w-full h-auto" />
    </div>

    <div
      class="w-full md:w-1/2 md:mx-12 mt-6 md:mt-0 flex flex-col justify-center"
    >
      {supervisiones.text1}

      <ul class="max-w-md space-y-1 list-disc list-inside mt-6">
        {
          supervisiones.list.map((supervision) => (
            <li class="flex">
              <Square width="15" />
              {supervision}
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</Layout>
