---
import ButtonContact from "../components/ButtonContact.astro";
---

<div
  class="lg:h-[80vh] text-white lg:p-28 p-8 flex flex-col justify-end md:justify-center principalWrapper"
>
  <div class="lg:w-[40vw] ml-30">
    <h1 class="text-4xl mb-5 italic text-shadow">
      Tu salud mental, nuestro compromiso
    </h1>
    <p class="mb-8 text-shadow">
      Tu viaje hacia el bienestar emocional comienza aquí. Nuestro centro de
      psicología online es un lugar seguro para abrazar el autocuidado,
      encontrar el equilibrio y soltar el peso que llevas sobre tus hombros.
    </p>
    <ButtonContact />
  </div>
</div>

<style>
  .principalWrapper {
    background-image: url("/img/portada.png");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .principalWrapper {
    height: calc(100vh - 155px);
  }

  @media (max-width: 1024px) {
    .principalWrapper {
      height: calc(100vh - 102px);
    }
  }
</style>
