---
import ButtonContact from "../components/ButtonContact.astro";

import { colors } from "../util";
const { brownDark } = colors;
---

<div
  class="lg:h-[80vh] lg:p-28 p-8 flex flex-col justify-end md:justify-center principalWrapper"
>
  <div class="lg:w-[30vw] ml-30">
    <h1 class="text-4xl text-gray-50 mb-5 italic text-shadow">
      "Cuando una herida cicatriza, puede nacer algo nuevo"
    </h1>
    <p class="mb-8 text-shadow text-gray-50 lg:text-brownDark">
      Terapia psicológica con enfoque integrador. <br /> Trabajo centrado en trauma
      y apego desde una mirada compasiva
    </p>
    <ButtonContact />
  </div>
</div>

<style define:vars={{ brownDark }}>
  .principalWrapper {
    background-image: url("/img/portada.png");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .principalWrapper {
    height: calc(100vh - 155px);
  }

  @media (max-width: 1024px) {
    .principalWrapper {
      height: calc(100vh - 102px);
    }
  }
</style>
