---
import ButtonContact from "../components/ButtonContact.astro";
---

<div
  class="lg:h-[60vh] text-white p-8 flex flex-col justify-end principalWrapper"
>
  <h1 class="text-5xl font-bold mb-5">Texto de prueba</h1>
  <p class="mb-8">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex nostrum, vero
    dolorum error earum non dolorem doloribus nisi rerum enim nam minima! Esse
    repellat iste aliquid voluptatum natus, optio pariatur!
  </p>
  <ButtonContact />
</div>

<style>
  .principalWrapper {
    background-image: url("/img/portada.png");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  @media (max-width: 1024px) {
    .principalWrapper {
      height: calc(100vh - 64px);
    }
  }
</style>
