---
import ButtonContact from "../components/ButtonContact.astro";
---

<div
  class="lg:h-[60vh] text-white p-8 flex flex-col justify-end principalWrapper"
>
  <h1 class="text-4xl mb-5">Tu salud mental, nuestro compromiso</h1>
  <p class="mb-8">
    Tu viaje hacia el bienestar emocional comienza aquí. Nuestro centro de
    psicología online es un lugar seguro para abrazar el autocuidado, encontrar
    el equilibrio y soltar el peso que llevas sobre tus hombros.
  </p>
  <ButtonContact />
</div>

<style>
  .principalWrapper {
    background-image: url("/img/portada.png");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  @media (max-width: 1024px) {
    .principalWrapper {
      height: calc(100vh - 64px);
    }
  }
</style>
