---

---

<div class="p-8">
  <h3 class="font-bold mb-4">
    Soy Cristina Nuñez, Psicóloga General Sanitaria y Terapeuta Familiar y de
    pareja y quiero darte la bienvenida a este refugio que he creado con todo mi
    cariño.
  </h3>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod deleniti odio
    suscipit, consectetur maxime, in enim ex labore maiores quo commodi quaerat
    odit ullam hic, nihil earum. Vel, veniam mollitia?
  </p>
</div>
