---

---

<div class="p-8">
  <h3 class="font-bold mb-4">
    Soy Cristina Nuñez, Psicóloga General Sanitaria y Terapeuta Familiar y de
    pareja y quiero darte la bienvenida a este refugio que he creado con todo mi
    cariño.
  </h3>
  <p>
    Si te encuentras aquí, es porque algo dentro de ti anhela cambio, alivio o
    comprensión. Quiero que sepas que has llegado al lugar correcto, a un
    refugio emocional que te acoge tal como eres. Este no es solo un centro de
    terapia online; es la posibilidad de descubrir, sanar y crecer. Aquí, no
    estás solo en tu viaje. Juntos, exploraremos los laberintos emocionales y
    los desafíos que enfrentas, para encontrar la claridad, el equilibrio y la
    paz que mereces.
  </p>
</div>
