---
import { colors } from "../util";
const { primary } = colors;
---

<div>
  <a
    href="/contact"
    class="text-black hover:bg-green-100 font-medium rounded-lg text-lg py-2 px-4 block text-center lg:inline-block"
    >Contacta conmigo</a
  >
</div>

<style define:vars={{ primary }}>
  a {
    background-color: var(--primary);
  }
</style>
