---
import LinkedinIcon from "../icons/linkedin.astro";
import WhatsappIcon from "../icons/whatsapp.astro";
---

<footer>
  <div class="wrapper-socialmedia">
    <WhatsappIcon />
    <LinkedinIcon />
  </div>

  <hr />

  <div class="wrapper-contact">
    <a href="/contact">CONTACTO</a>
    <a href="/about">SOBRE MI</a>
  </div>

  <hr />

  <p>
    © Cristina Nuñez Parra 2024 | Todos los derechos reservados | Web y diseño
    por Juan Luis Moreno Calderón
  </p>
</footer>

<style>
  .wrapper-socialmedia {
    display: flex;
    justify-content: center;

    svg {
      margin: 7px;
    }
  }

  p {
    margin: 7px;
    text-align: center;
  }

  .wrapper-contact {
    margin: 7px;
    text-align: center;

    a {
      margin: 7px;
      display: block;
      font-weight: bold;
    }
  }
</style>
