---
import LinkedinIcon from "../icons/linkedin.astro";
import WhatsappIcon from "../icons/whatsapp.astro";

import { colors } from "../util";
const { primary, secondary } = colors;
---

<footer class="p-6">
  <div class="mb-6">
    <img src="/img/logo.png" alt="" class="w-full h-auto m-auto" />
  </div>
  <div class="wrapper-socialmedia gap-2">
    <WhatsappIcon />
    <LinkedinIcon />
  </div>

  <hr />

  <div class="wrapper-contact text-center font-bold">
    <a href="/contact">CONTACTO</a>
  </div>

  <hr />

  <div
    class="flex flex-col md:flex-row-reverse justify-between my-8 wrapper-links font-bold"
  >
    <ul class="md:flex text-center gap-4 [&>li]:mb-2 [&>li]:md:mb-0">
      <li><a href="/politica-de-privacidad">Política de privacidad</a></li>
      <li><a href="/aviso-legal">Aviso legal</a></li>
      <li><a href="/politica-de-cookies">Política de cookies</a></li>
    </ul>
    <span class="text-center mt-6 md:mt-0"> © 2024 Cristina Nuñez Parra </span>
  </div>

  <hr />

  <div class="text-right mt-8">
    <span class="text-sm">
      Web desarrollada por <a
        href="https://www.linkedin.com/in/juanlumoreno/"
        target="_blank"
        class="underline text-blue-700"
        rel="noopener noreferrer"
      >
        Juan Luis Moreno Calderón
      </a></span
    >
  </div>
</footer>

<style define:vars={{ primary, secondary }}>
  footer {
    background-color: var(--primary);

    img {
      max-width: 400px;
    }

    @media screen and (max-width: 1024px) {
      img {
        max-width: 250px;
      }
    }
  }
  .wrapper-socialmedia {
    display: flex;
    justify-content: center;

    svg {
      margin: 7px;
    }
  }

  .wrapper-contact,
  .wrapper-links {
    color: var(--secondary);
  }
</style>
