---
import LinkedinIcon from "../icons/linkedin.astro";
import WhatsappIcon from "../icons/whatsapp.astro";

import { colors } from "../util";
const { primary } = colors;
---

<footer class="p-4">
  <div class="wrapper-socialmedia">
    <WhatsappIcon />
    <LinkedinIcon />
  </div>

  <hr />

  <div class="wrapper-contact">
    <a href="/contact">CONTACTO</a>
    <a href="/about">SOBRE MI</a>
  </div>

  <hr />
  <div class="[&>*]:block">
    <span class="text-center m-3">Todos los derechos reservados</span>
    <span class="text-center m-3"> &copy; 2024 Cristina Nuñez Parra </span>
    <span class="text-right mt-5 text-sm">
      Creado por <a
        href="https://www.linkedin.com/in/juanlumoreno/"
        target="_blank"
        class="underline text-blue-700"
        rel="noopener noreferrer"
      >
        Juan Luis Moreno Calderón
      </a></span
    >
  </div>
</footer>

<style define:vars={{ primary }}>
  footer {
    background-color: var(--primary);
  }
  .wrapper-socialmedia {
    display: flex;
    justify-content: center;

    svg {
      margin: 7px;
    }
  }

  .wrapper-contact {
    margin: 7px;
    text-align: center;

    a {
      margin: 7px;
      display: block;
      font-weight: bold;
    }
  }
</style>
