---
import HamburgerIcon from "../icons/hamburger.astro";

import { colors } from "../util";
const { primary, secondary } = colors;
---

<header class="p-4">
  <nav class="flex justify-between items-center w-full md:w-3/4 m-auto">
    <a href="/" class="nav-logo"
      ><img src="/img/logo.png" alt="" class="w-full h-auto" /></a
    >

    <ul
      class="nav-menu absolute p-8 md:p-0 md:gap-24 md:static flex flex-col md:flex-row w-full md:w-auto text-center left-[-100%] top-[100px] duration-300"
    >
      <li class="p-4">
        <a href="/modelo-terapeutico" class="nav-link">Modelo terapéutico</a>
      </li>
      <li class="p-4">
        <a href="/contact" class="nav-link">Contacto</a>
      </li>
    </ul>
    <div class="block cursor-pointer hamburger md:hidden">
      <HamburgerIcon id="menuButton" class="lg:hidden" />
    </div>
  </nav>
</header>

<script>
  const hamburger = document.querySelector(".hamburger");
  const navMenu = document.querySelector(".nav-menu");

  if (hamburger && navMenu) {
    hamburger.addEventListener("click", () => {
      hamburger.classList.toggle("active");
      navMenu.classList.toggle("active");
    });
  }
</script>

<style define:vars={{ primary, secondary }}>
  header {
    background-color: var(--primary);

    img {
      max-width: 200px;
    }

    @media screen and (min-width: 768px) {
      img {
        max-width: 350px;
      }
    }
  }

  @media (max-width: 768px) {
    .nav-menu {
      background-color: var(--secondary);
    }
  }

  @media only screen and (max-width: 768px) {
    .nav-menu.active {
      left: 0;
    }
  }
</style>
