---
import HamburgerIcon from "../icons/hamburger.astro";

import { colors } from "../util";
const { primary, secondary } = colors;
---

<header class="flex justify-between items-center p-4">
  <div class="title flex-grow font-bold">
    <a href="/"> <img src="/img/logo.png" alt="" class="w-full h-auto" /> </a>
  </div>
  <HamburgerIcon id="menuButton" class="lg:hidden" />
  <nav
    id="menuLinks"
    class="hidden lg:flex lg:flex-row right-0 absolute menuLinks w-full md:w-auto text-center py-6"
  >
    <a href="/#" class="m-8">Método</a>
    <a href="/contact" class="m-8">Contacto</a>
  </nav>
</header>

<script>
  function setupMenu() {
    const menuButton = document.getElementById("menuButton");
    const menuLinks = document.getElementById("menuLinks");

    menuButton?.addEventListener("click", () => {
      menuLinks?.classList.toggle("hidden");
    });
  }

  window.addEventListener("DOMContentLoaded", setupMenu);
</script>

<style define:vars={{ primary, secondary }}>
  header {
    background-color: var(--primary);

    img {
      max-width: 200px;
    }

    @media screen and (min-width: 1024px) {
      img {
        max-width: 350px;
      }
    }
  }

  @media (max-width: 1024px) {
    .menuLinks {
      top: 101px;
      background-color: var(--secondary);

      a {
        display: block;
      }
    }
  }
</style>
