---
import HamburgerIcon from "../icons/hamburger.astro";
import ArrowDown from "../icons/arrow-down.astro";

import { headerCategories } from "../util";
---

<header class="px-4 py-1 bg-gray-50">
  <nav class="flex justify-between items-center w-full m-auto">
    <a href="/" class="nav-logo"
      ><img src="/img/logo.png" alt="" class="w-full h-auto" /></a
    >

    <ul
      class="nav-menu text-brownDark bg-brownLight md:bg-inherit absolute p-8 md:p-0 md:gap-12 md:static flex flex-col md:flex-row w-full md:w-auto text-center left-[-100%] top-[89px] duration-300"
    >
      {
        headerCategories.map(({ redirectTo, name, subCategories }) => (
          <li class="p-2 relative group">
            <a
              href={redirectTo}
              class="hover:text-rose-300 transition duration-300 inline-flex items-center"
            >
              {name}
              {subCategories && <ArrowDown />}
            </a>
            {subCategories && (
              <ul class="dropdown-menu absolute left-0 top-full hidden group-hover:block bg-white shadow-lg w-full md:w-max-content z-10">
                {subCategories.map((sub) => (
                  <li class="px-4 py-3 hover:bg-rose-50 transition duration-300">
                    <a
                      href={sub.redirectTo}
                      class="hover:text-rose-300 transition duration-300"
                    >
                      {sub.name}
                    </a>
                  </li>
                ))}
              </ul>
            )}
          </li>
        ))
      }
    </ul>
    <div class="block cursor-pointer hamburger md:hidden">
      <HamburgerIcon id="menuButton" class="lg:hidden" />
    </div>
  </nav>
</header>

<script>
  const hamburger = document.querySelector(".hamburger");
  const navMenu = document.querySelector(".nav-menu");

  if (hamburger && navMenu) {
    hamburger.addEventListener("click", () => {
      hamburger.classList.toggle("active");
      navMenu.classList.toggle("active");
    });
  }
</script>

<style>
  header {
    img {
      max-width: 200px;
    }

    /* nav > ul > li:hover {
      color: #f9aca0;
      transition: 200ms;
    } */

    @media screen and (min-width: 768px) {
      img {
        max-width: 200px;
      }
    }
  }

  @media only screen and (max-width: 768px) {
    .nav-menu.active {
      left: 0;
    }
  }
</style>
