---
import HamburgerIcon from "../icons/hamburger.astro";

import { colors } from "../util";
const { primary } = colors;
---

<header class="flex justify-between items-center p-6">
  <div class="title flex-grow">
    <a href="/"> Cristina Nuñez</a>
  </div>
  <HamburgerIcon id="menuButton" class="lg:hidden" />
  <nav
    id="menuLinks"
    class="hidden lg:flex lg:flex-row gap-4 right-0 menuLinks"
  >
    <a href="/contact">Contact</a>
  </nav>
</header>

<script>
  window.addEventListener("DOMContentLoaded", () => {
    const menuButton = document.getElementById("menuButton");
    const menuLinks = document.getElementById("menuLinks");

    menuButton?.addEventListener("click", () => {
      menuLinks?.classList.toggle("hidden");
    });
  });
</script>

<style define:vars={{ primary }}>
  header {
    background-color: var(--primary);
  }

  @media (max-width: 1024px) {
    .menuLinks {
      @apply absolute;
      top: 72px;
      background-color: var(--primary);

      a {
        display: block;
        @apply m-4;
      }
    }
  }
</style>
