---
import HamburgerIcon from "../icons/hamburger.astro";

import { colors } from "../util";
const { primary, secondary } = colors;
---

<header class="flex justify-between items-center p-4">
  <div class="title flex-grow font-bold">
    <a href="/"> <img src="/img/logo.png" alt="" class="w-full h-auto" /> </a>
  </div>
  <HamburgerIcon id="menuButton" class="lg:hidden" />
  <nav
    id="menuLinks"
    class="hidden lg:flex lg:flex-row gap-4 right-0 menuLinks"
  >
    <a href="/contact">Contact</a>
  </nav>
</header>

<script>
  window.addEventListener("DOMContentLoaded", () => {
    const menuButton = document.getElementById("menuButton");
    const menuLinks = document.getElementById("menuLinks");

    menuButton?.addEventListener("click", () => {
      menuLinks?.classList.toggle("hidden");
    });
  });
</script>

<style define:vars={{ primary, secondary }}>
  header {
    background-color: var(--primary);

    img {
      max-width: 400px;
    }

    @media screen and (max-width: 1024px) {
      img {
        max-width: 250px;
      }
    }
  }

  @media (max-width: 1024px) {
    .menuLinks {
      @apply absolute;
      top: 72px;
      background-color: var(--primary);

      a {
        display: block;
        @apply m-4;
      }
    }
  }
</style>
